<p id="notice"><%= notice %></p>

<h1>Food and groceries products</h1>

<div class="container">
<div class="row">
    <% @cproducts.each do |cproduct| %>
      <div class="col-sm3 col-md-4">
      
        <div class="thumbnail">

          <%= image_tag cproduct.image.url(:medium) %>
            <hr class="line">
            <h3 class="cheading">
          <%= cproduct.title %>
        </h3>

        <%= link_to 'Show', companies_path %>
        <%= link_to 'Edit', edit_cproduct_path(cproduct) %>
        <%= link_to 'Destroy', cproduct, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Cproduct', new_cproduct_path %>
