<p id="notice"><%= notice %></p>


  <div class="container">
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col-sm3 col-md-4">
        <h3 id="cheading"><%= category.title %></h3>
        <div class="thumbnail">

        <%= image_tag category.image.url(:medium) %>

        <%= link_to 'Show', category %>
        <%= link_to 'Edit', edit_category_path(category) %>
        <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Category', new_category_path %>
